::selection {
    background-color: rgb(185, 67, 67);
    color: white;
}




/*Tag selectors*/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(241, 137, 137, 0.986);
}

a {
    color: white;
    text-decoration: none;
    background-color: 0;
    text-shadow: 0;
    padding: 0;
    transition: background-color 0.2s, text-shadow 0.3s, padding-top 0.2s;
}

a:hover {
    background-color: rgba(177, 74, 74, 0.288);
    text-shadow: 0.5px 0.5px 2px white;
}
a:active {
    background-color: rgba(139, 0, 0, 0.486);
}

h1 {
    margin: 0;
}

hr {
    width: 20%;
    border: 10px 0 0 0;
    border-style: 9px dotted;
    border-color: black;
    margin: 0;
    padding: 0;
}

img {
    transition: margin 1s;
}


/*ID Selectors*/

#aaa {
    transition: margin 0.4s;
    margin: 0;
}

#aaa:hover {
    margin: 0 0 0 10px;
}

#burger {
    display: none;
    margin-right: 30px;
    background-color: 0;
    text-shadow: 0;
    margin-top: 0;
    transition: background-color 0.2s, text-shadow 0.3s, margn-top 0.2s;
}
#burger div {
    width: 25px;
    height: 3px;
    background: black;
    margin: 5px;
}

#burger:hover {
    background-color: rgba(177, 74, 74, 0.288);
    text-shadow: 0.5px 0.5px 2px white;
    margin-top: 5px;
}
#burger:active {
    background: rgba(139, 0, 0, 0.514);
}


/*Class Selectors*/

/*Navigation*/

.nav ul li a{
    position: relative;
    visibility: visible;
    color: darkred;
    font-family: 'Roboto';
    width: 20px;
    height: auto;
}
.nav ul li a:hover {
    margin: 5px 0 0 0;
}
.nav ul li {
    visibility: visible;
    text-align: center;
    list-style: none;
    float: left;
    height: 20px;
    width: 100%;
}
.nav ul li:hover {

}

.nav ul {
    visibility: visible;
    height: 25px;
    display: flex;
    flex-direction: row-reverse;
    padding-inline-start: 0;
    margin-right: 80px;
    width: 20%;
}
.nav {
    visibility: visible;
    height: 70px;
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    top: 0;
    background-color: rgb(235, 235, 210);
    width: 100%;
    align-items: flex-end;

}

.nav-placeholder {
    height: 70px;
}
.hr-burger {
    display: none;
    width: 100%;
}
#menu-title{
    display: none;
}

/*Header*/

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.title-text {
    font-family: 'Pacifico', cursive;
    font-size: 3.5em;
}

.title-text2 {
    font-size: 1.2em;
    margin: 0;
}


/*Main Content*/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

.main {
    width: 80%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-row {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0 20px 0;
    line-height: 1.5;
    margin: 0;
    align-items: center;
    transition: background-color 1s, margin 1s;
}

.skill-content-text {
    font-size: 100%;
}

.skill-row:hover img{
    margin: 0 0 0 10px;
}
.skill-row.image-left:hover img{
    margin: 0 10px 0 0;
}
.skill-row:hover {
    background-color: rgba(177, 74, 74, 0.288);
}


/*Skill Images*/

.image {
    width: 100%;
    min-width: 157.5px;
}


/*Footer*/

#footer-hr {
    border: 0 0 2px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0;
    background-color: rgb(219, 125, 125);
}

.social-list {
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

#list {
    outline-style: none;
    outline: none;
}

.social-item {
    height: 30px;
    margin: 0px;
    padding: 0 10px 0 10px;
    transition: margin 0.4s;
}

.social-item:hover {
    margin: 10px 0 0 0;
}

.copy {
    margin: 0 0 20px 0;
}


/*Other*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image-left {
    flex-direction: row;
}


@media all and (max-width: 726px) {

    html {
        font-size: 10px;
    }
    .skill-row {
        flex-direction: column;
        align-items: center;
    }
    .skill-image {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .image {
        width: 100%;
        min-width: 110.5px;
        max-width: 110.5px;
    }
}

@media all and (max-width: 1300px) {
 
}