/*Tag selectors*/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(241, 137, 137, 0.986);
}

a {
    color: white;
   text-decoration: none;
   background-color: 0;
   text-shadow: 0;
   transition: background-color 0.2s, text-shadow 0.3s;
}
a:hover {
    background-color: rgba(177, 74, 74, 0.288);
    text-shadow: 0.5px 0.5px 2px white;
}
h1 {
    margin: 0;
}
hr {
    width: 20%;
    border: 10px 0 0 0;
    border-style: 9px dotted;
    border-color: black;
    margin: 0;
    padding: 0;
}


/*Class Selectors*/


/*Navigation*/
.nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(235, 235, 210);
    position: fixed;
    top: 0;
    height: 64px;
    font-family: 'Roboto', sans-serif;
}
.nav-item {
    padding: 20px;
    background-color: 0;
    text-shadow: 0;
    transition: background-color 0.2s, text-shadow 0.3s;
    color: darkred;
}
.nav-item:hover {
    color: darkred;
    text-shadow: 1px 1px 1px grey;
    background-color: rgba(182, 182, 182, 0.288);
}
.nav-placeholder {
    height: 64px;
}

/*Header*/
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header {
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.title-text {
    font-family: 'Pacifico', cursive;
    font-size: 3.5em;
}

.title-text2 {
    font-size: 1.2em;
    margin: 0;
}

/*Main Content*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}
.main {
    width: 80%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-title {

}

/*Footer*/
#footer-hr {
    border: 0 0 2px 0;
    width: 100%;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0;
    background-color: rgb(219, 125, 125);
}
.social-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}
#list{
    outline-style: none;
    outline: none;
}
.social-item {
    margin: 0px;
    padding: 0 10px 0 10px;
}
.copy {
    margin: 0 0 20px 0;
    
}
  
@media all and (min-width: 600px) {

}
  
@media all and (min-width: 800px) {

}